*{
  padding: 0;
  margin: 0;
}
.app-container {
  /*background-image: url('https://image.freepik.com/free-vector/white-rhombus-pattern_1053-249.jpg');*/
  background-color: ghostwhite;
}
.app-main-container{
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0 auto;
}
.search-bar {
  width: 50vw;
  margin: 10px auto;
}
.search-bar > div {
  width: 100%;
}
.search-bar input {
  width: 100%;
  padding: 2px 6px;
  border: 1px solid gray;
  border-radius: 2px 0 0 2px;
}
.search-bar input + div {
  z-index: 10;
  top: 40px!important;
  border-radius: 0!important;
  background: rgba(255, 255, 255, 1)!important;
  overflow: hidden!important;
  max-height: 100%!important;
  position: absolute!important;
}
.search-bar input:focus {
  outline: none;
  border: 1px solid #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0,0.3);
}
.react-autocomplete-dropdown {
  margin: 7px;
  padding: 7px;
  font-weight: bold;
}
.video-display-container {
  flex-basis: 90%;
  margin: 0 auto;
}
.video-list {
  flex-basis: 90%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}
.video-list-items {
  list-style: none;
  margin-bottom: 10px;
  background-color: white;
}
.video-title, .video-desc {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

@media only screen and (min-width: 1025px) {
  .app-main-container{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .video-display-container {
    flex-basis: 64%;
    margin: 0;
  }
  .video-list {
    flex-basis: 34%;
    padding: 0;
    margin: 0;
  }
}
