*{
  padding: 0;
  margin: 0;
}
.my-app {
  /*background-image: url('https://image.freepik.com/free-vector/white-rhombus-pattern_1053-249.jpg');*/
}
.app-main-container{
  display: flex;
  flex-direction: column;
}


/*  ________________________________
      header start
*/
.header-navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  margin: 0;
  /*background: tomato;
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1));
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1));
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1));
  background: linear-gradient(to right,rgba(255,0,0,0.6),rgba(255,0,0,.5),rgba(255,0,0,.6), rgba(255,0,0,0.8),rgba(255,0,0,1));*/
  background: white;
  box-shadow: 0 4px 2px -2px gray;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header-navbar + div {
  margin-top: 60px;
}
.desktop-navbar {
  display: none;
}

.hamburger-nav {
  display: block;
    position: relative;
    top: 60px;
    left: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 40px;
}
.hamburger-nav input {
  position: absolute;
  opacity: 0; /* hide this */
  -webkit-touch-callout: none;
}
.hamburger-nav label {
  cursor: pointer;
  position: relative;
  top: 45px;
}
.hamburger-nav span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #1c62b9;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.hamburger-nav input:checked + label span:first-child {
  background: tomato;
  transform-origin: 4px 2px;
  transform: rotate(40deg);
}
.hamburger-nav input:checked + label span:nth-child(2) {
  background: #1c62b9;
  opacity: 0;
}
.hamburger-nav input:checked + label span:last-child {
  background: tomato;
  transform-origin: 3px 1px;
  transform: rotate(-45deg);
}
.navs-mobile {
  background: aliceblue;
  width: 100vw;
  position: relative;
  left: -6vw;
  top: 46px;
  opacity: 0;
  transform: translate(-100%,-10%);
  transition: all 0.5s linear;
}

.hamburger-nav input:checked ~ .navs-mobile {
  opacity: 1;
  transform: translate(0,0);
}

.navs-mobile li{
  list-style: none;
  padding: 10px 30px;
}
.logo {
  font-size: 2em;
font-family: -webkit-pictograph;
font-weight: 300;
font-style: oblique;
font-variant-caps: titling-caps;
letter-spacing: -2px;
transform: skewX(-27deg);
background: rgba(255,0,0,0.1);
padding: 0px 8px;
box-shadow: 0px 0px 3px 3px rgba(255,0,0,0.3);
}
.logo-start {
  color: blue;
}
.logo-end {
  color: dodgerblue;
}
.search-bar-outer {
   width: 40vw;
}
.search-bar > div {
  width: 100%;
}
.search-bar input {
  width: 100%;
  padding: 2px 6px;
  border: 1px solid gray;
  border-radius: 2px 0 0 2px;
}
.search-bar input + div {
  z-index: 10;
  top: 60px!important;
  margin-left: -2px!important;
  border-radius: 0!important;
  background: white!important;
  overflow: hidden!important;
  max-height: 100%!important;
  position: fixed!important;
  text-transform: capitalize;
}
.search-bar input:focus {
  outline: none;
  border: 1px solid #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0,0.3);
}
.react-autocomplete-dropdown {
  margin: 7px;
  padding: 7px;
  font-weight: bold;
}


/* ________________________________
   main content container start
*/
.content-container{
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: rgba(128,128,128,0.1);
}
.video-display-container {
  flex-basis: 90%;
  margin: 0 auto;
}
.video-list {
  flex-basis: 90%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}
.video-list-items {
  list-style: none;
  margin-bottom: 10px;
  background-color: white;
}
.video-title, .video-desc {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}


.videos-icon {
  position: sticky;
  top: 0;
  display: flex;
  padding: 0;
  padding-top: 3em;
  background-color: lightgray;
}
.video-outer {
  flex-basis: 33%;
}
.video-outer:last-child {
  display: none;
}
.fourimage-video-image {
  width: 100%;
  height: auto;
}
.fourimage-video-title {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -85px;
  height: 38%;
  padding-top: 40px;
  transition: all .5s ease;
}
.video-outer:hover .fourimage-video-title {
  top: -100px;
}
.video-play-button {
  position: absolute;
  top: -42px;
  left: 33%;
  right: 0;
  border-radius: 50px;
  background: aliceblue;
  border: 2px solid aliceblue;
}
.video-play-button:focus {
  outline: 0;
}
.video-play-button-icon {
  width: 5em;
}

/*________________________________
desktop start
*/

@media only screen and (min-width: 1025px) {
  .hamburger-nav {
    display: none;
  }
  .desktop-navbar {
    display: flex;
    flex-basis: 30%;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .desktop-navbar li {
    list-style: none;
    font-weight: 700;
    font-family: "Avenir Next", "Avenir", sans-serif;
    color: #1c62b9;
  }
  .desktop-navbar li:hover {
    color: rgba(255,0,0,0.3);
    opacity: 0.9;
    cursor: pointer;
  }
  .content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .video-display-container {
    flex-basis: 64%;
    margin: 0;
  }
  .video-list {
    flex-basis: 34%;
    padding: 0;
    margin: 0;
  }
  .video-outer {
    flex-basis: 25%;
  }
  .video-outer:last-child {
    display: block;;
  }
  .video-player.embed-responsive {
    display: none;
  }
  .otherclass ~ .video-player.embed-responsive {
    display: block;
  }
}
